<!DOCTYPE html>
<html> 
<head>
    <title>About</title>
    <link rel="stylesheet" href= "/css/style.css">
</head>
<body>
<div class="main-content"> 
       {{>header}}               
        
         <p class="pabout"> This application developed by {{name}} to demonstrate Web API. </p> 
         <img class="portrait" src="/img/download.png">  
</div>
       
        {{>footer}}
   

</body>
</html>